# .env.example

# Bot token for authenticating with the bot service
BOT_TOKEN=8475319275:AAGbmiHydxc62DlkrPx1CAoUIe-1Z6isLww

# Database configuration
DATABASE_URL=sqlite:///bot.db

# API Keys
ABUSE_IPDB_KEY=your_key_here
WHOIS_API_KEY=your_key_here
EMAIL_FINDER_KEY=your_key_here

# Logging Level
LOG_LEVEL=INFO

# Number of workers
WORKERS=4